@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #181818;
  --text-primary: white;
  --text-smooth: #c7c7c7;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: var(--bg-primary);
}

main {
  max-width: 1360px;
  margin: 0 auto;
  padding: 2rem;
  display: grid !important;
  grid-template-columns: 1fr 400px !important;
  grid-gap: 2rem;
}

.c-videos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.c-videos__item {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.c-videos__item:hover {
  opacity: 0.6;
}

.c-videos__image {
  max-width: 180px;
  object-fit: contain;
}

.c-videos__title {
  line-height: 1.125rem;
  color: var(--text-primary);
  font-size: 14px;
}

.c-videos__description {
  margin-top: 1rem;
  color: var(--text-smooth);
  font-size: 0.75rem;
}

/* .c-player__video iframe {
  width: 860px;
  height: 485px;
} */

.c-player__description {
  margin-top: 1.5rem;
}

.c-player__description .title {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 18px;
}

.c-player__description .description {
  color: var(--text-smooth);
  margin-top: 10px;
  font-size: 14px;
}
